.EstadodeAnimo {
  border-radius: 15px;
  background-color: lightsteelblue;
  width: 40%;
}
.EstadodeAnimo__titulo {
  color: #005992;
  font-weight: bold;
  font-size: 0.8em;
}
.EstadodeAnimo__emojis {
  margin-left: 0 !important ;
  margin-right: 0 !important ;
}
.EstadodeAnimo__emojis-emojis {
  height: 35px;
}
.EstadodeAnimo__emojis-porcentaje {
  font-weight: bold;
  font-size: 1.1em;
}
.EstadodeAnimo__seemore {
  display: flex;
  justify-content: flex-end;
  font-size: 0.6em;
  font-weight: bold;
  color: #005992;
  padding-right: 0.5em;
}
@media (max-width: 600px) {
  .EstadodeAnimo {
    width: 40%;
    margin-left: 5%;
  }
  .EstadodeAnimo__emojis-emojis {
    height: 35px;
  }
}
