.menuimg {
  height: 2em;
}
.Link{
  color: black;
}
.Link:hover{
  color: #007bff;
}
.option {
  text-align: center;
  width: 20%;
  color: black;

}

@media (max-width: 600px) {
  .list-group-item {
    font-size: 0.6em;
    font-weight: bold;
    padding: 0.25rem 0 0.25rem 0 !important;
    
  }
}
