.Noticia{
    border-radius: 15px;
    height: 2vh;
    width: 150px;
    margin: 0 1em;
}
.Noticia__Imagen{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: inherit;
}

.Noticia__texto{
    background-color: cadetblue;
    color: black;
    height: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
@media (max-width: 600px) {
    .Noticia{
        border-radius: 15px;
        height: 2vh;
        width: 200px;
        margin: 0 1em;
    }
    .Noticia__Imagen{

        width: inherit;
    }
    
}