.UltimasNoticias{
  height: 20%;
}
.Noticias {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  height: 140px;
  padding-top: 1em;
  margin-top: 10px;
}
.Noticias::-webkit-scrollbar {
  /* solo oculta su visualizacion */
  display: none;
}
.title {
  color: #005992;
  font-weight: bold;
}
.seemore {
  color: #005992;
  font-size: 0.8em;
  font-weight: bold;
}
body {
  /* solo oculta su visualizacion */
  overflow: hidden;
}

@media (max-width: 600px) {
    .Noticias{
      display: flex;
      overflow: scroll;
      overflow-y: hidden;
      margin-top: 0;
      height: 200px;
      padding-top: 1em;
    }
  }
  
