.App {
  text-align: center;
}
.App-header {
  background-color: white;
  position: fixed; /*El div será ubicado con relación a la pantalla*/
  left: 0px; /*A la derecha deje un espacio de 0px*/
  right: 0px; /*A la izquierda deje un espacio de 0px*/
  top: 0px; /*Abajo deje un espacio de 0px*/
  height: 100px; /*alto del div*/
  z-index: 0;
}
.AppContent{
  margin-top: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10%;
  height: 75vh;
}
body,
html {
  height: 100%; /*Siempre es necesario cuando trabajamos con alturas*/
}


.item {
  background-color: thistle;
  height: 300px;
}

.logo{
  height: auto;
  width: auto;
}

@media (max-width: 600px) {
  .AppContent{
    margin-top: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}