.App {
  text-align: center;
}
.App-header {
  background-color: white;
  position: fixed; /*El div será ubicado con relación a la pantalla*/
  left: 0px; /*A la derecha deje un espacio de 0px*/
  right: 0px; /*A la izquierda deje un espacio de 0px*/
  top: 0px; /*Abajo deje un espacio de 0px*/
  height: 120px; /*alto del div*/
  z-index: 0;
}

body,
html {
  height: 100%; /*Siempre es necesario cuando trabajamos con alturas*/
}
.menu {
  position: fixed; /*El div será ubicado con relación a la pantalla*/
  left: 0px; /*A la derecha deje un espacio de 0px*/
  right: 0px; /*A la izquierda deje un espacio de 0px*/
  bottom: 0px; /*Abajo deje un espacio de 0px*/
  /* height: 50px; */
  width: 100%;
  z-index: 0;
}

.item {
  background-color: thistle;
  height: 300px;
}
.principal{
  padding-top:120px;
}
.logo{
  height: 120px;
  width: auto;
}

@media (max-width: 600px) {
.logo{
  height: 120px;
  width: 80%;
}
}